.container {
    width: 100%;
    /* min-height: 100vh; */
}

.spacer {
    flex: 1 1 auto;
}

.main-container {
    width: 100%;
    height: calc(100% - 64px);
}

#new-chat-button {
    width: 100%;
}

.sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidenav {
    padding: 20px;
    min-width: 18vw;
}

.sidenav2-content {
    display: flex;
    height: 100%;
    align-items: right;
    justify-content: left;
}

/* Styles for screens smaller than 768px */
@media (max-width: 767px) {
    .sidenav {
        width: 100%;
    }

    /* .chatwindow {
        height: calc(100vh - 25vh);
    } */
}

.lichat {
    padding: 15px;
    margin: 0;
    overflow: auto;
    height: calc(100% - 114px);
    top: 0;
}

.sidenav2 {
    min-width: 15vw;
    max-width: 18vw;
    padding: 20px;
}

.chatwindow {
    width: 100%;
    overflow: auto;
    height: inherit;
    align-items: baseline;
    /* margin: 20px 0; */
}

.questionbox {
    width: inherit;
    position: absolute;
    bottom: 0;
    right: 0;
    /* display: block; */
    z-index: 100;
    background-color: rgb(53, 55, 64);
    /* margin: 10px; */
    padding-top: 10px;
}

.form-field {
    width: calc(100% - 40px);
    margin: 0 20px;
    height: 100%;
}

.listChat {
    margin: 40px 0;
}

.question {
    margin: 5px;
    align-self: self-end;
    align-content: end;
    text-align: right;
    background-color: rgb(84, 255, 138);
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px;
    border-radius: 40px;
    display: block;
}

li {
    list-style: none;
}

.answer {
    margin: 5px;
    align-self: self-start;
    text-align: left;
    background-color: rgb(92, 143, 255);
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px;
    border-radius: 40px;
    margin-bottom: 0px;

}

#stream_head {
    position: absolute;
    height: max-content;
    padding: 5px;
    align-content: center;
    width: 80%;
    background-color: white;
}

#stream {
    height: 100%;
    right: 0;
    /* background-color: blueviolet; */
    overflow: auto;
}