<ng-container class="container" fullscreen>
    <mat-toolbar color="primary">
        <button (click)=sidenav.toggle() mat-icon-button class="icon" aria-label="Icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Wiki Chatbot</span>
        <span class="spacer"></span>
        <mat-form-field appearance="fill" class="apiselector">
            <mat-label>API</mat-label>
            <mat-select [value]="'wikibot'">
                <mat-option value="wikibot">
                    WikiBot API
                </mat-option>
                <mat-option value="chatgpt">
                    ChatGPT API
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button (click)="userLogout()" mat-button>
            <mat-icon aria-hidden="false" aria-label="Logout" fontIcon="logout"></mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container class="main-container">
        <mat-sidenav #sidenav class="sidenav" mode="side" opened>
            <div>
                <button mat-stroked-button id="new-chat-button" (click)="openNewChatDialog()" color="accent">
                    <mat-icon aria-hidden="false" aria-label="New Chat Button" fontIcon="add"></mat-icon>
                    New Chat
                </button>
                <div>
                    <mat-list role="list">
                        <div *ngIf="newChatThread" matRipple>
                            <mat-list-item class="chat-thread" role="listitem">
                                {{currentThread}}
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                        <div *ngFor="let thread of chatThreads" matRipple (click)="setThread(thread.thread)">
                            <mat-list-item class="chat-thread" role="listitem">
                                {{thread.thread}}
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                    </mat-list>
                </div>
            </div>
            <div class="chat_history">

            </div>
        </mat-sidenav>
        <mat-sidenav *ngIf="extractedData" #sidenav2 class="sidenav2" mode="side" opened position="end">
            <div class="question_stats">
                <mat-card>
                    <mat-card-content>
                        <h2>Question Stats</h2>
                        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-card-content>
                </mat-card>
                <!-- <div id="stream_head">
  
          </div> -->
                <div id="stream">
                    {{extractedData}}
                </div>

            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="sidenav-content chatwindow">
                <div class="row lichat" #answerHistory>
                    <ul>
                        <li *ngFor="let message of chatMessages" class="listChat">
                            <span>{{ message.ts }}<br></span>
                            You
                            <div class="question">
                                <span>{{ message.question }}</span>
                            </div>
                            WikiBot
                            <div class="answer">
                                <span>{{ message.answer }}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row questionbox">
                    <mat-form-field class="form-field">
                        <mat-label>Ask me anything</mat-label>
                        <input (keyup.enter)="getAnswer()" matInput type="text" title="New question input"
                            [(ngModel)]=this.newQuestion>
                        <button *ngIf="newQuestion" matSuffix mat-icon-button aria-label="Send" (click)="getAnswer()">
                            <mat-icon>send</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>